<nav>
    <ul>
        {% if is_granted('ROLE_USER')%}
        <li>
            <a href="{{ path('home_page') }}">Homepage</a>
        </li>
        <li>
            <a href="{{ path('app_logout') }}">Logout</a>
        </li>

        <li>
            <a href="{{ path('mytickets') }}">My Tickets</a>
        </li>
        {% else %}
            <li>
                <a href="{{ path('app_login') }}">Login</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_AGENT')%}
            <li>
                <a href="{{ path('alltickets') }}">All Tickets</a>
            </li>
            <li>
                <a href="{{ path('assignedtickets') }}">My Assigned Tickets</a>
            </li>
        {% endif %}
    </ul>
</nav>