{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <h1>Ticket</h1>

    <table class="table">
        <tbody>
         {% if is_granted('ROLE_AGENT')%}
        <tr>
            <th>Id</th>
            <td>{{ ticket.id }}</td>
        </tr>
        <tr>
            <th>Escalated</th>
            <td>{{ ticket.escalated ? 'Yes' : 'No' }}</td>
        </tr>
         {% endif %}
         <tr>
             <th>Customer name</th>
             <td>{{ ticket.createdBy }}</td>
         </tr>
        <tr>
            <th>Subject</th>
            <td>{{ ticket.subject }}</td>
        </tr>
        <tr>
            <th>TicketMessage</th>
            <td>{{ ticket.ticketMessage }}</td>
        </tr>
        <tr>
            <th>DateClosed</th>
            <td>{{ ticket.dateClosed ? ticket.dateClosed|date('Y-m-d') : '' }}</td>
        </tr>
         <tr>
             <th>Status</th>
             <td>{{ticket.status.status }}</td>
         </tr>
        </tbody>
    </table>

    <a href="{{ path('ticket_index') }}">back to list</a>



    {#{{ include('ticket/_delete_form.html.twig') }}#}
    {% if (is_granted('ROLE_USER') and isClosed == false) or is_granted('ROLE_AGENT') %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    {% if is_granted('ROLE_AGENT')%}
        {#<input type="checkbox" id="private" name="private" class="private"><label for="private">private</label>
        <input type="checkbox" id="close" name="close" class="close"><label for="close">close</label>#}
        <input type="radio" id="nothing" name="closePrivate" value="nothing">
        <label for="nothing">Ask for feedback</label><br>
        <input type="radio" id="private" name="closePrivate" value="private">
        <label for="private">Private comment</label><br>
        <input type="radio" id="close" name="closePrivate" value="close">
        <label for="close">Close this ticket</label><br>
    {% endif%}
    <button class="btn">{{ button_label|default('Submit') }}</button>
    {{ form_end(form) }}
    {% endif %}
    {% if is_granted('ROLE_AGENT') and is_granted('ROLE_SECONDAGENT') == false%}
        <button><a href="{{ path('ticket_escalate', {'id': ticket.id}) }}">escalate ticket</a></button>
    {% endif %}
    <ul>
        {% if is_granted('ROLE_AGENT')%}

        {% for comment in comments %}
            <li>{{ comment.comment }}</li>
        {% endfor %}

        {% else %}

        {% for comment in comments %}
            {% if comment.private == false %}
            <li>{{ comment.comment }}</li>
            {% endif %}
        {% endfor %}
        {% endif %}
    </ul>



{% endblock %}
